# The Titanic Dataset

## Step 1: Defining the Problem

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew.
While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we will build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

In terms of structure, the analysis performed will follow a classical data science framework, which consists in the following points:


1. Defining the Problem: summarizing what is the challenge we are facing and which we want to give a solution to.

2. Importing Libraries and Gathering the Data

3. Data Cleansing: also known as data wrangling, consists in turning "raw" (or uncleansed) data to clean data, by identifying and treating outliers, missing values, data formats, etc.

4. Exploratory and Statistical Analysis: descriptive and graphical statistical analysis will be performed in order to look at patterns, correlations and features profiling. This is a required step so that the correct hypothesis is selected to further deploy a data model.

5. Modelling Data: consist in implementing and training different algorithms to predict the required outcomes.

6. Fine-tuning the Model(s): in this section, the models deployed earlier are tested using a testing dataset. It's the place, for instance, to determine if our model is overfitted or underfitted.

7. Validation and Final Conclusions

## Step 2: Importing Libraries & Gathering the Data

We are given two different datasets: train & test. The train dataset, the one to be used to perform the different data analysis and train the model, is given at: https://www.kaggle.com/competitions/titanic/data

In [ ]:
#Importing required libraries and modules
import pandas as pd

In [15]:
#Importing required data: Train & test data
df_train=pd.read_csv("/Users/joelbullich/Desktop/Titanic Challenge/data/train.csv")

## Step 3: Data Cleansing

In [16]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
women=df_train.loc[df_train.Sex=='female']['Survived']

In [13]:
rate_women=sum(women)/len(women)
rate_women

0.7420382165605095

## Step 4: Exploratory and Statistical Analysis

## Step 5: Modelling Data

## Step 6: Fine-Tuning the Model(s)

## Step 7: Validation and Final Conclusions